* {
  box-sizing: border-box;
}

body {
  background-image: url("../img/bg-6.jpg");
  background-repeat: repeat-y;
  background-size: cover;
  font-family: "Jost", sans-serif;
}

.container {
  max-width: 70rem;
  margin: auto;
}

.logo-icon {
  width: 4.375rem;
  height: 4.5rem;
}

.navbar-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0;
  list-style: none;
}

.vk-icon,
.tg-icon,
.inst-icon {
  width: 1.25rem;
  height: 1.25rem;
}

.social-list {
  display: flex;
  align-items: center;
  list-style: none;
}

.social-list-item:not(:last-child) {
  margin-right: 20px;
}

.navbar-list {
  border-bottom: 1px solid rgba(252, 0, 252, 0.2);
}

.navbar-list-item {
  padding: 0.5rem;
}

.navbar-list-item-link {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;

  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.75rem;
  color: #fc00fc;
  text-decoration: none;
}

.mobile-menu-toggle {
  display: none;
}

.mobile-menu-line {
  height: 0.2rem;
  width: 100%;
  background-color: #fc00fc;
  border-radius: 10px;
}

.mobile-menu-line:not(:last-child) {
  margin-bottom: 0.2188rem;
}

.close-icon {
  display: none;
  width: 100%;
  height: 1rem;
}

.mobile-logo-icon {
  display: none;
}

.mobile-menu {
  display: none;
}

.is-open {
  display: none;
}

.header {
  margin-top: 4rem;
}

.header-wrapper {
  width: 100%;
  background-image: url("../img/main.webp");
  background-repeat: no-repeat;
  background-position: center left -14rem;
  background-size: cover;
  border-radius: 0.625rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.no-webp .header-wrapper {
  background-image: url("../img/main.jpg");
}

.header-content {
  max-width: 31.25rem;
  padding-top: 3.75rem;
  padding-left: 7.5rem;
  padding-bottom: 3.75rem;
}

.header-title {
  margin-bottom: 1rem;
  font-style: normal;
  font-weight: 600;
  font-size: 2.1875rem;
  line-height: 3.1875rem;
  text-transform: uppercase;
  color: #faf472;
}

.header-text {
  margin-bottom: 1rem;
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.8125rem;
  color: #faf472;
}

.header-text-2 {
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.8125rem;
  color: #faf472;
}

.header-info {
  display: flex;
  align-items: center;
}

.micro-icon {
  flex-shrink: 0;
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 1rem;
}

.header-button-wrap {
  height: 100%;
  display: flex;
  align-items: center;
}

.header-button {
  position: relative;
  margin-top: 1.125rem;
  min-width: 9.9375rem;
  padding: 0.9375rem 2.5313rem;

  background: #faf472;
  border: 0.0813rem solid #faf472;
  border-radius: 6.25rem;
  box-shadow: 12px 12px 24px #faf472;
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;

  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.4375rem;
  color: #681173;
}

.header-button::before {
  content: "";
  border-radius: 6.25rem;
  min-width: 3.938rem;
  padding: 2rem 3.3rem;
  border: 0.275rem solid #faf472;
  box-shadow: 0 0 60px #faf472;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.3s ease-in-out 0s;
}

.header-button::after {
  content: "";
  width: 1.875rem;
  height: 1.875rem;
  border-radius: 100%;
  border: 0.375rem solid #faf472;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-animation: ring 1.5s infinite;
  animation: ring 1.5s infinite;
}

@-webkit-keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 200px;
    height: 200px;
    opacity: 0;
  }
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 200px;
    height: 200px;
    opacity: 0;
  }
}

.everyone-can-sing {
  margin-top: 6rem;
}

.everyone-can-sing-container {
  position: relative;
}

.everyone-can-sing-wrapper {
  position: absolute;
  right: 0;
  max-width: 55.625rem;
  padding: 1.875rem 1.875rem 1.875rem 23.125rem;
  background-color: rgba(255, 250, 250, 0.32);
  border-radius: 0.625rem;
  box-shadow: 0.2rem 0.2rem 1rem #ec7804;
}

.everyone-can-sing-content {
  max-width: 30.625rem;
}

.everyone-can-sing-title {
  font-style: normal;
  font-weight: 600;
  font-size: 1.5875rem;
  line-height: 3.1875rem;
  text-transform: uppercase;
  color: #ec7804;
}

.everyone-can-sing-text {
  margin-bottom: 2rem;
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.625rem;
  color: #3d3935;
}

.everyone-can-sing-button {
  min-width: 9.9375rem;
  padding: 0.9375rem 2.5313rem;

  background: #ffffff;
  border: 2px solid #ec7804;
  cursor: pointer;
  outline: none;

  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.4375rem;
  color: #ec7804;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

.everyone-can-sing-img {
  position: absolute;
  top: 7rem;
  left: 3rem;
  width: 507px;
  height: 507px;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center -2rem;
  object-position: center -2rem;
  z-index: 1;
  box-shadow: 0.2rem 0.2rem 1rem #ec7804;
  transition: transform 0.8s ease-in-out;
}

.circle {
  position: absolute;
  top: 31rem;
  left: 23rem;
  width: 10rem;
  height: 10rem;
  background-color: rgba(255, 250, 250, 0.7);
  border-radius: 50%;
  box-shadow: 0.2rem 0.2rem 1rem #ec7804;
  z-index: 2;
}

.having-completed-training {
  margin-top: 52.627rem;
}

.having-completed-training-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.having-completed-training-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 54rem;
}

.having-completed-training-title {
  flex-shrink: 0;
  margin-bottom: 2rem;
  padding: 1.2rem 2.2rem;
  font-style: normal;
  font-weight: 600;
  font-size: 1.0875rem;
  line-height: 3.1875rem;
  text-transform: uppercase;
  color: #71ad19;
  background-color: rgba(255, 250, 250, 0.9);
  border-radius: 2.5rem;
  border: 0.0625rem solid #71ad19;
  box-shadow: 0.2rem 0.2rem 1rem #71ad19;
}

.rotate-block {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

/*.change-img {
  position: relative;
  perspective: 1000px;
  width: 17.8125rem;
  height: 25.4375rem;
  border-radius: 2.5rem;
  border: 1px solid #71ad19;
  box-shadow: .2rem .2rem 1rem #71ad19;
}*/

.having-completed-training-img,
.having-completed-training-img-back-side {
  /*position: absolute;
  width: 100%;
  height: 100%;*/
  display: flex;
  justify-content: center;
  align-items: center;
  /*transition: 1s;*/

  width: 17.8125rem;
  height: 25.4375rem;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 2.5rem;
  border: 1px solid #71ad19;
}

/*.having-completed-training-img picture {
  /*max-width: 100%;
  min-width: 100%;
  height: auto;
}

.having-completed-training-img-back-side picture {
   max-width: 100%;
  min-width: 100%;
  height: auto;
  transform: scaleX(-1); /* Отражаем изображение по горизонтали 
}

/*.having-completed-training-img-back-side {
  transform: rotateY(180deg);
}*/

.having-completed-training-learn {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-left: 0.3rem;
}

.learn-text {
  max-width: 19.75rem;
  padding: 1.875rem;

  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.625rem;

  color: #71ad19;
  background-color: rgba(255, 250, 250, 0.9);
  border-radius: 2.5rem;
  border: 1px solid #71ad19;
  box-shadow: 0.2rem 0.2rem 1rem #71ad19;
}

.learn-text:not(:nth-child(2n)) {
  margin-right: 2rem;
}

.at-the-end-of-school {
  margin-top: 6rem;
}

.at-the-end-of-school-container {
  position: relative;
}

.at-the-end-of-school-wrapper {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  height: 44rem;
}

.img-wrapper {
  position: absolute;
  right: 8rem;
  width: 32.1875rem;
  height: 26.375rem;
  border-radius: 0.625rem;
  box-shadow: 0.2rem 0.2rem 1rem #fc00fc;
  overflow: hidden;
}

.at-the-end-of-school-img {
  position: absolute;
  width: 32.1875rem;
  height: 26.375rem;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: top -7rem left 0;
  object-position: top -7rem left 0;
  border-radius: 0.625rem;
  box-shadow: 0.2rem 0.2rem 1rem #fc00fc;
  transition: 1s;
  z-index: 1;
}

.at-the-end-of-school-content {
  position: absolute;
  top: 15rem;
  right: 20rem;
  padding: 1.875rem 1.875rem 1.875rem 1.875rem;
  background-color: rgba(255, 250, 250);
  border-radius: 0.625rem;
  margin-right: 4rem;
  box-shadow: 0.2rem 0.2rem 1rem #fc00fc;
  z-index: 2;
}

.background-block {
  position: absolute;
  top: 3rem;
  right: 3rem;
  width: 32.1875rem;
  height: 26.375rem;
  border-radius: 0.625rem;
  background-color: rgb(255, 250, 250, 0.7);
  box-shadow: 0.2rem 0.2rem 1rem #fc00fc;
  z-index: 0;
}

.at-the-end-of-school-list {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 7rem;
  padding: 0;
  list-style: none;
}

.at-the-end-of-school-title {
  margin: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 1.2875rem;
  line-height: 3.1875rem;
  text-transform: uppercase;
  color: rgb(252, 0, 252);
}

.music-note-icon {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 1rem;
  flex-shrink: 0;
}

.at-the-end-of-school-item:not(:last-child) {
  margin-bottom: 0.625rem;
}

.at-the-end-of-school-text {
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.625rem;
  color: #3d3935;
}

.at-the-end-of-school-button {
  position: absolute;
  top: 19.5rem;
  min-width: 9.9375rem;
  padding: 0.9375rem 2.5313rem;
  cursor: pointer;
  outline: none;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.4375rem;
  color: #ffffff;
  box-shadow: 0.2rem 0.2rem 1rem #fc00fc;
  background-color: #fc00fc;
  border: 0.0625rem solid #fc00fc;
  border-radius: 6.25rem;
  transition: all 0.2s;
}

.at-the-end-of-school-button:active {
  transform: translateY(-0.0625rem);
  box-shadow: 0.2rem 0.2rem 1rem #fc00fc;
  /*box-shadow: 0 .3125rem .625rem rgba(252, 0, 252, 0.5);*/
}

.at-the-end-of-school-button::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
  background-color: #fc00fc;
}

.test {
  margin-top: 6rem;
}

.test-picture {
  display: flex;
  width: 25rem;
  height: 28.125rem;
  border-radius: 0.625rem 0 0 0.625rem;
  -o-object-fit: cover;
  object-fit: cover;
}

.test-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row-reverse;
  margin: auto;
  max-width: 800px;

  background-color: rgba(255, 250, 250, 0.8);
  border-radius: 0.625rem;
  box-shadow: 0.2rem 0.2rem 1rem #ec7804;
}

.test-content {
  width: 22.75rem;
  margin-left: 1.125rem;
  padding: 1.875rem 1.875rem 1.875rem 1.875rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.test-title {
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 1.2875rem;
  line-height: 3.1875rem;
  text-transform: uppercase;
  color: #ec7804;
}

.button-test {
  position: relative;
  display: block;
  color: #ec7804;
  text-align: center;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4375rem;
  text-decoration: none;
  margin-top: 2rem;
  border: 0.125rem solid #ec7804;
  padding: 0.9375rem 2.5313rem;
  overflow: hidden;
  transition: 1s all ease;
  background: #ffffff;
  z-index: 1;
}
.button-test::before {
  background: #ec7804;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  transition: all 0.6s ease;
}

.button-test-hover::before {
  width: 100%;
  height: 0%;
}

.test-modal,
.modal {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transform: translateX(-100%);
  background-color: rgba(41, 45, 51, 0.5);
}

.test-modal-dialog,
.modal-dialog {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: auto;
  width: 40rem;
  padding: 2.5rem;
  background-color: rgb(244, 230, 242);
  opacity: 0;
  transform: translateY(-10%);
  transition: transform 0.4s, opacity 0.4s;
  border-radius: 0.625rem;
}

.test-modal-is-open .test-modal-dialog,
.modal-is-open .modal-dialog {
  transform: translateY(0);
  opacity: 1;
}

.test-modal-is-open,
.modal-is-open {
  transform: translateX(0);
  visibility: visible;
  opacity: 1;
  z-index: 10;
}

.close-test-modal {
  position: absolute;
  display: flex;
  align-items: center;
  border-radius: 50%;
  top: 1.25rem;
  right: 1.25rem;
  width: 1.875rem;
  height: 1.875rem;
  background-color: #fc00fc;
}

.test-close-icon {
  width: 100%;
  height: 1rem;
}

.question-title {
  margin-top: 3rem;
  margin-bottom: 1.25rem;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 1.2875rem;
  line-height: 2.5875rem;
  color: #fc00fc;
}

.answers {
  display: flex;
  align-items: center;
  justify-content: center;
}

.answers-item {
  margin-bottom: 1rem;
}

.test-modal-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  /* margin-top: 3rem; */
  width: 100%;
  gap: 1.25rem;
}

.answer-text {
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.625rem;
  color: #3d3935;
}

.answer-text-selected {
  color: #fc00fc;
}

.input-answer {
  display: none;
}

.label-answer::before {
  content: "";
  position: absolute;
  top: calc(50% - 0.625rem);
  left: -2.1875rem;
  display: inline-block;
  width: 0.9375rem;
  height: 0.9375rem;
  border: 0.125rem solid #fc00fc;
  border-radius: 50%;
}

.label-answer {
  position: relative;
  margin-left: 2.1875rem;
  cursor: pointer;
}

.input-answer:checked ~ .label-answer::before {
  background-color: #fc00fc;
  box-shadow: 0 0 5px #fc00fc, 0 0 25px #fc00fc, 0 0 50px #fc00fc,
    0 0 80px #fc00fc;
}

.test-modal-prev-button,
.test-modal-next-button {
  padding: 0.2rem 1rem;
  cursor: pointer;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.625rem;
  color: #fc00fc;
  background-color: rgb(244, 230, 242);
  border: 1px solid #fc00fc;
  border-radius: 0.625rem;
}

.form-test-group {
  position: relative;
  width: 15rem;
  height: 3.125rem;
  flex-grow: 1;
  margin-top: 1.875rem;
}

.test-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1.25rem 1.875rem;
  border: 1px solid #fc00fc;
  border-radius: 0.625rem;
  background-color: inherit;
  color: #fc00fc;
}

.test-input-label {
  position: absolute;
  cursor: text;
  top: 1.07rem;
  left: 1.3rem;
  font-weight: 400;
  font-size: 0.85rem;
  color: #fc00fc;
}

.test-modal-button {
  width: 15rem;
  padding: 0.625rem 1rem;
  cursor: pointer;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.625rem;
  color: #fc00fc;
  background-color: rgb(244, 230, 242);
  border: 1px solid #fc00fc;
  border-radius: 0.625rem;
}

.test-input:focus {
  box-shadow: 0 0 5px #fc00fc, 0 0 25px #fc00fc, 0 0 50px #fc00fc,
    0 0 200px #fc00fc;
  outline: 0;
}

.test-input:focus ~ .test-input-label,
.test-input:not(:placeholder-shown).test-input:not(:focus) ~ .test-input-label {
  display: none;
}

input:-webkit-autofill {
  box-shadow: inset 0 0 0 50px rgb(244, 230, 242) !important;
}

.test-notify {
  position: relative;
  display: flex;
  align-items: center;
}

.label-notify label {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 25px;
  left: 5px;
  background-repeat: no-repeat;
  background-position: left 2px top 3px;
  background-color: rgb(244, 230, 242);
  border: 1px solid #fc00fc;
  border-radius: 4px;
  width: 1.2rem;
  height: 1.2rem;
  margin-left: -0.4rem;
}

.test-notify-text {
  width: 12.5rem;
  margin-left: 1rem;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 0.875rem;
  color: #fc00fc;
}

.label-notify input:checked ~ .checkmark {
  background-color: #ffffff;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.label-notify input:checked ~ .checkmark:after {
  display: block;
}

.label-notify .checkmark:after {
  left: 5px;
  top: -1px;
  width: 6px;
  height: 12px;
  border: solid #fc00fc;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.test-notify-link {
  width: 12.5rem;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 0.875rem;
  text-decoration: underline;
  color: #fc00fc;
}

.last-test-button,
.last-test-notify {
  display: none;
  justify-content: center;
}

.last-test-button {
  margin-top: 1.875rem;
}

.form-name {
  margin-bottom: 3rem;
}

.answers-item:last-child {
  margin-bottom: 3rem;
}

.courses {
  margin-top: 6rem;
}

.courses-title {
  width: 20rem;
  margin: auto;
  margin-bottom: 6rem;
  text-align: center;
  padding-top: 0.875rem;
  padding-bottom: 0.875rem;
  padding-right: 1.875rem;
  padding-left: 1.875rem;
  font-style: normal;
  font-weight: 600;
  font-size: 1.2875rem;
  line-height: 3.1875rem;
  text-transform: uppercase;
  color: rgb(252, 0, 252);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0.2rem 0.2rem 1rem #fc00fc;
}

.courses-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.course-card {
  position: relative;
  width: 20rem;
  height: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  perspective: 1000px;
}

.front-card,
.back-card {
  /* flip 3d */
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  transition: 1s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.front-card {
  background-image: url("../img/fortopiano.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 0.2rem 0.2rem 1rem #fc00fc;
}

.back-card {
  display: flex;
  flex-direction: column;
  transform: rotateY(180deg);
  background-image: url("../img/fortopiano.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 0.2rem 0.2rem 1rem #fc00fc;
}

.back-card::before {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  border-radius: 40px;
  z-index: -1;
}

.no-webp .front-card {
  background-image: url("../img/fortopiano.jpg");
}

.card-title {
  text-align: center;
  max-width: 16.875rem;
  padding: 0.875rem;
  font-style: normal;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.625rem;
  border-radius: 20px;
  color: #fc00fc;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0.2rem 0.2rem 1rem #fc00fc;
}

.card-text {
  text-align: center;
  max-width: 16.875rem;
  font-style: normal;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.625rem;
  color: #faf472;
  text-shadow: 0.2rem 0.2rem 1rem #faf472, 0.2rem 0.2rem 1rem #faf472;
}

.card-button {
  margin-top: 1.125rem;
  margin-bottom: 0.825rem;
  min-width: 9.9375rem;
  max-width: 16.875rem;
  padding: 0.9375rem 2.5313rem;
  background: #faf472;
  border: 0.0813rem solid #faf472;
  border-radius: 6.25rem;
  box-shadow: 12px 12px 24px #faf472;
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.4375rem;
  color: #681173;
}

.card-button::before {
  content: "";
  border-radius: 6.25rem;
  min-width: 3.938rem;
  padding: 2rem 3.3rem;
  border: 0.275rem solid #faf472;
  box-shadow: 0 0 60px #faf472;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.3s ease-in-out 0s;
}

.front-card-guitar {
  background-image: url("../img/guitar.webp");
}

.no-webp .front-card-guitar {
  background-image: url("../img/guitar.jpg");
}

.back-card-guitar {
  background-image: url("../img/guitar.webp");
}

.no-webp .back-card-guitar {
  background-image: url("../img/guitar.jpg");
}

.front-card-vocal {
  background-image: url("../img/vocal.webp");
}

.no-webp .front-card-vocal {
  background-image: url("../img/vocal.jpg");
}

.back-card-vocal {
  background-image: url("../img/vocal.webp");
}

.no-webp .back-card-vocal {
  background-image: url("../img/vocal.jpg");
}

.for-mobile {
  display: none;
}

.prices {
  margin-top: 6rem;
}

.prices-container {
  display: flex;
  justify-content: center;
}

.prices-wrapper {
  display: flex;
  align-items: flex-start;
  padding: 4rem;
  max-width: 800px;
  border-radius: 2.5rem;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0.2rem 0.2rem 1rem #71ad19;
}

.prices-info {
  max-width: 20.8rem;
  margin-right: 6.25rem;
}

.prices-info-title {
  margin: 0;
  margin-bottom: 1rem;
  font-style: normal;
  font-weight: 600;
  font-size: 1.2875rem;
  line-height: 2.5875rem;
  text-transform: uppercase;
  color: #71ad19;
}

.prices-info-text {
  margin-top: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.625rem;
  color: #3d3935;
}

.prices-form {
  max-width: 21.875rem;
}

.prices-form-title {
  margin-top: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.625rem;
  color: #71ad19;
}

.prices-input-group {
  position: relative;
  width: 15rem;
  height: 3.125rem;
  margin-top: 1.875rem;
}

.prices-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1.25rem 1.875rem;
  border: 1px solid #71ad19;
  border-radius: 0.625rem;
  background-color: inherit;
  color: #71ad19;
}

.prices-input:focus {
  box-shadow: 0 0 5px #71ad19, 0 0 25px #71ad19, 0 0 50px #71ad19,
    0 0 200px #71ad19;
  outline: 0;
}

.prices-input:focus ~ .prices-label,
.prices-input:not(:placeholder-shown).prices-input:not(:focus) ~ .prices-label {
  display: none;
}

.prices-label {
  position: absolute;
  cursor: text;
  top: 1.07rem;
  left: 1.3rem;
  font-weight: 400;
  font-size: 0.85rem;
  color: #71ad19;
}

.prices-form-button {
  margin-top: 1.875rem;
}

.prices-button {
  width: 15rem;
  height: 100%;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.625rem;

  position: relative;
  text-decoration: none;
  display: inline-block;
  background-color: #71ad19;
  border: 1px solid #71ad19;
  text-align: center;
  border-radius: 0.625rem;
  color: #ffffff;
  padding: 0.6875rem 1rem;
  cursor: pointer;
  overflow: hidden;
}

.prices-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1.5rem;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  transform: translateX(-4rem) skewX(-45deg);
  transition: all 0.1s;
  -webkit-animation: move-light 4s 0.1s ease-in-out infinite;
  animation: move-light 4s 0.1s ease-in-out infinite;
}

@-webkit-keyframes move-light {
  0% {
    left: -50px;
    margin-left: 0;
  }

  30% {
    left: 100%;
    margin-left: 100px;
  }

  100% {
    left: 100%;
    margin-left: 100px;
  }
}

@keyframes move-light {
  0% {
    left: -50px;
    margin-left: 0;
  }

  30% {
    left: 100%;
    margin-left: 100px;
  }

  100% {
    left: 100%;
    margin-left: 100px;
  }
}

.prices-notify {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 1.875rem;
}

.prices-notify-label label {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.prices-checkmark {
  position: absolute;
  top: 21px;
  left: 5px;
  background-repeat: no-repeat;
  background-position: left 2px top 3px;
  background-color: rgb(244, 230, 242);
  border: 1px solid #71ad19;
  border-radius: 4px;
  width: 1.4rem;
  height: 1.4rem;
  margin-left: -0.4rem;
}

.prices-notify-text {
  width: 12.5rem;
  margin-left: 1rem;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 0.875rem;
  color: #71ad19;
}

.prices-notify-label input:checked ~ .prices-checkmark {
  background-color: #ffffff;
}

.prices-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.prices-notify-label input:checked ~ .prices-checkmark:after {
  display: block;
}

.prices-notify-label .prices-checkmark:after {
  left: 6px;
  top: -1px;
  width: 7px;
  height: 16px;
  border: solid #71ad19;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.prices-notify-link {
  width: 12.5rem;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 0.875rem;
  text-decoration: underline;
  color: #71ad19;
}

.prices-input.is-invalid {
  border: 1px solid red;
  box-shadow: 0 0 5px red, 0 0 25px red, 0 0 50px red, 0 0 200px red;
}

.just-validate-error-label {
  position: absolute;
  top: -1rem;
  left: 1rem;
  display: inline-block;
  font-size: 1rem;
}

.teachers {
  margin-top: 6rem;
}

.teachers-title {
  width: 20rem;
  margin: auto;
  margin-bottom: 0rem;
  /* padding-top: 0.875rem;
  padding-bottom: 0.875rem;
  padding-right: 1.875rem;
  padding-left: 1.875rem; */
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 1.2875rem;
  line-height: 3.1875rem;
  text-transform: uppercase;
  color: #faf472;
  /* border-radius: 20px; */
  /* background-color: rgba(255, 255, 255, 0.9); */
  /* box-shadow: 0.2rem 0.2rem 1rem #fc00fc; */
  text-shadow: 0.2rem 0.2rem 1rem #faf472, 0.2rem 0.2rem 1rem #faf472;
}

.teacher-info {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
}

.teachers-picture {
  margin-top: 6.875rem;
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 0 0;
  object-position: 0 0;
  box-shadow: 0 0 5px #faf472, 0 0 25px #faf472, 0 0 50px #faf472,
    0 0 200px #faf472;
  /* #faf472 */
}

.teachers-name {
  margin-top: 3rem;
  margin-bottom: 0;
  width: 20rem;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2.325rem;
  color: #faf472;
  text-shadow: 0.2rem 0.2rem 1rem #faf472, 0.2rem 0.2rem 1rem #faf472;
}

.teachers-text {
  max-width: 45.25rem;
  margin-top: 3rem;
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.625rem;
  text-align: center;
  color: #faf472;
  text-shadow: 0.2rem 0.2rem 1rem #faf472, 0.2rem 0.2rem 1rem #faf472;
}

.third-teacher {
  -o-object-position: 0 -1.7px;
  object-position: 0 -1.7px;
}

.fifth-teacher {
  -o-object-position: -45px 0;
  object-position: -45px 0;
}

.slider-buttons {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}
.slider-button-prev,
.slider-button-next {
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.slider-button-next {
  margin-right: 2rem;
}

.slider-button-prev {
  margin-left: 2rem;
}

.teacher-arrow-next-icon,
.teacher-arrow-prev-icon {
  width: 2.5rem;
  height: 2.5rem;
}

.slider-button-prev::before,
.slider-button-next::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 1.875rem;
  height: 1.25rem;
  background-color: rgba(250, 244, 114, 0.3);
}

.slider-button-prev::before {
  left: 20%;
}

.reviews {
  margin-top: 6rem;
}

#reviews-swiper {
  width: 400px;
}

.reviews-title {
  width: 20rem;
  margin: auto;
  margin-bottom: 6rem;
  text-align: center;
  padding-top: 0.875rem;
  padding-bottom: 0.875rem;
  padding-right: 1.875rem;
  padding-left: 1.875rem;
  font-style: normal;
  font-weight: 600;
  font-size: 1.2875rem;
  line-height: 3.1875rem;
  text-transform: uppercase;
  color: rgb(252, 0, 252);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0.2rem 0.2rem 1rem #fc00fc;
}

.swiper-wrapper {
  min-height: 100% !important;
}

.review {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
  width: 400px !important;
  padding: 1.875rem 1.975rem 1.875rem 1.875rem;
  border-radius: 0.625rem;
  background-color: #ffffff;
  box-shadow: 0.2rem 0.2rem 1rem #fc00fc;
}

.wrapper-review {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.wrapper-review-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  margin-right: 1rem;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  background-color: rgb(244, 230, 242);
}

.review-logo {
  width: 3rem;
  height: 3rem;
}

:root {
  --swiper-theme-color: #fc00fc;
}

.pagination-margin {
  margin-bottom: 1rem;
}

.title-review {
  margin: 0;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 2.325rem;
  color: #fc00fc;
}

.text-review {
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.625rem;
  color: #3d3935;
}

.reviews-text {
  margin: auto;
  margin-top: 6rem;
  width: 28.75rem;
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.625rem;
  color: #fc00fc;
  padding: 3.875rem 3.875rem 3.875rem 3.875rem;
  border-radius: 50%;
  background-color: #ffffff;
  box-shadow: 0.2rem 0.2rem 1rem #fc00fc;
  text-align: center;
}

.video-reviews {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.625rem;
  cursor: pointer;
}

.swiper-pagination {
  cursor: pointer;
}

.slider-button-review-prev,
.slider-button-review-next {
  display: none;
}

.footer {
  margin-top: 6rem;
  background-color: #050801;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.footer-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-logo-icon {
  width: 5.375rem;
  height: 5.5rem;
  margin-bottom: 1rem;
}

.footer-logo-text {
  margin: 0;
  margin-bottom: 2rem;
  max-width: 15.625rem;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 2rem;
  color: #faf472;
  /* text-shadow: 0.2rem 0.2rem 1rem #faf472, 0.2rem 0.2rem 1rem #faf472; */
}

.footer-list-links,
.footer-list-contacts {
  margin-top: 0;
  padding: 0;
  list-style: none;
}

.footer-list-item {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.footer-list-item-last {
  justify-content: center;
}

.footer-social-list {
  list-style: none;
  padding: 0;
  margin-top: 3.5rem;
}

.footer-list-item-link {
  max-width: 16.875rem;
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 2rem;
  color: #faf472;
  text-decoration: none;
}

.footer-phone-icon,
.footer-time-icon,
.footer-placeholder-icon {
  margin-right: 1rem;
  width: 1.125rem;
  height: 1.125rem;
}

.footer-list-item-text {
  max-width: 16.875rem;
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 2rem;
  color: #faf472;
}

.footer-vk-icon,
.footer-tg-icon,
.footer-inst-icon {
  width: 1.9rem;
  height: 1.9rem;
}

.footer-map {
  display: inline-block;
  width: 16.875rem;
  height: 16.875rem;
  overflow: hidden;
}

.map-img {
  width: 16.875rem;
  height: 16.875rem;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 1s;
}

.footer-button-neon {
  position: relative;
  display: inline-block;
  min-width: 9.9375rem;
  max-width: 15.625rem;
  padding: 0.9375rem 2.5313rem;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  color: #faf472;
  transition: 0.5s;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

.button-line {
  position: absolute;
  display: block;
}

.button-line--top {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #faf472);
  -webkit-animation: animate1 1s linear infinite;
          animation: animate1 1s linear infinite;
}

@-webkit-keyframes animate1 {
  0% {
    left: -100%;
  }
  50%, 100% {
    left: 100%;
  }
}

@keyframes animate1 {
  0% {
    left: -100%;
  }
  50%, 100% {
    left: 100%;
  }
}

.button-line--bottom {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #faf472);
  -webkit-animation: animate3 1s linear infinite;
          animation: animate3 1s linear infinite;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

@-webkit-keyframes animate3 {
  0% {
    right: -100%;
  }
  50%, 100% {
    right: 100%;
  }
}

@keyframes animate3 {
  0% {
    right: -100%;
  }
  50%, 100% {
    right: 100%;
  }
}

.button-line--left {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #faf472);
  -webkit-animation: animate4 1s linear infinite;
          animation: animate4 1s linear infinite;
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}

@-webkit-keyframes animate4 {
  0% {
    bottom: -100%;
  }
  50%, 100% {
    bottom: 100%;
  }
}

@keyframes animate4 {
  0% {
    bottom: -100%;
  }
  50%, 100% {
    bottom: 100%;
  }
}

.button-line--right {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #faf472);
  -webkit-animation: animate2 1s linear infinite;
          animation: animate2 1s linear infinite;
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}

@-webkit-keyframes animate2 {
  0% {
    top: -100%;
  }
  50%, 100% {
    top: 100%;
  }
}

@keyframes animate2 {
  0% {
    top: -100%;
  }
  50%, 100% {
    top: 100%;
  }
}

.modal-button,
.modal-notify {
  display: flex;
}

.modal-button {
  margin-top: 1.875rem;
}

.modal-footer {
  flex-direction: column;
}

.form-modal-name {
  margin-bottom: 0;
}

.modal-button {
  justify-content: center;
  align-items: center
}


@media (min-width: 992px) {
  .navbar-list-item-link:hover {
    color: #681173;
  }

  #seventh-item:hover,
  #second-item:hover,
  #third-item:hover,
  #fourth-item:hover,
  #fifth-item:hover,
  #sixth-item:hover,
  #eighth-item:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 6.25rem;
    box-shadow: 0.1rem 0.1rem 0.2rem 0.1rem #681173;
  }

  .header-button:hover,
  .header-button:focus,
  .card-button:hover,
  .card-button:focus {
    color: #313133;
    transform: translateY(-0.375rem);
  }

  .header-button:hover::before,
  .header-button:focus::before,
  .card-button:hover::before,
  .card-button:focus::before {
    opacity: 1;
  }

  .header-button:hover::after,
  .header-button:focus::after {
    -webkit-animation: none;
    animation: none;
    display: none;
  }

  .everyone-can-sing-button:hover {
    color: #ffffff;
    box-shadow: 0 0 40px 40px #ec7804 inset;
  }

  .everyone-can-sing-img:hover {
    transform: rotate(360deg);
  }

  .learn-text:hover {
    transform: translateY(-0.1875rem);
    box-shadow: 0 10px 20px #71ad19;
  }

  .having-completed-training-title:hover {
    transform: translateY(-0.1875rem);
    box-shadow: 0 10px 20px #71ad19;
  }

  .having-completed-training-img:hover {
    transform: translateY(-0.1875rem);
    box-shadow: 0 0.625rem 1.25rem #71ad19;
  }

  /*.change-img:hover .having-completed-training-img {
    transform: rotateY(180deg);
  }
  .change-img:hover .having-completed-training-img-back-side {
    transform: rotateY(360deg);
  }*/

  .at-the-end-of-school-img:hover {
    transform: scale(1.2);
  }

  .at-the-end-of-school-button:hover {
    transform: translateY(-0.1875rem);
    box-shadow: 0 10px 20px rgba(252, 0, 252, 0.5);
  }

  .at-the-end-of-school-button:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
  }

  .button-test:hover {
    color: #ffffff;
  }

  .button-test-hover:hover::before {
    height: 100%;
    border: 2px solid #ec7804;
  }

  .answer-text:hover {
    color: #fc00fc;
  }

  .close-test-modal:hover,
  .label-answer:hover::before {
    box-shadow: 0 0 5px #fc00fc, 0 0 25px #fc00fc, 0 0 50px #fc00fc,
      0 0 200px #fc00fc;
  }

  .test-modal-prev-button:hover,
  .test-modal-next-button:hover {
    box-shadow: 0 0 5px #fc00fc, 0 0 15px #fc00fc, 0 0 35px #fc00fc,
      0 0 60px #fc00fc;
    background-color: #fc00fc;
    color: #ffffff;
  }

  .test-modal-button:hover {
    box-shadow: 0 0 5px #fc00fc, 0 0 15px #fc00fc, 0 0 35px #fc00fc,
      0 0 60px #fc00fc;
    background-color: #fc00fc;
    color: #ffffff;
  }

  .course-card:hover .front-card {
    transform: rotateY(180deg);
  }

  .course-card:hover .back-card {
    transform: rotateY(360deg);
  }

  .courses-title:hover {
    transform: translateY(-0.1875rem);
    box-shadow: 0 10px 20px #fc00fc;
  }

  .slider-button-prev:hover::before,
  .slider-button-next:hover::before {
    box-shadow: 0 0 25px #faf472, 0 0 55px #faf472, 0 0 75px #faf472;
  }

  .footer-list-item-link:hover {
    text-shadow: 0.2rem 0.2rem 1rem #faf472, 0.2rem 0.2rem 1rem #faf472;
  }

  .map-img:hover {
    transform: scale(1.2);
  }

  .footer-map:hover {
    box-shadow: 0 0 5px #faf472, 0 0 25px #faf472, 0 0 50px #faf472,
    0 0 200px #faf472;
  }


  .footer-button-neon:hover {
    background-color: #faf472;
    box-shadow: 0 0 5px #faf472, 0 0 20px #faf472, 0 0 50px #faf472, 0 0 200px #faf472;
    color: #681173;
  }
}

@media (max-width: 1280px) {
  html {
    font-size: 14px;
  }

  .everyone-can-sing-img {
    top: 7rem;
    left: 2rem;
    width: 457px;
    height: 457px;
  }

  .test-content {
    margin: auto;
  }

  .checkmark {
    top: 19px;
    width: 1.25rem;
    height: 1.25rem;
  }

  .label-notify .checkmark:after {
    top: -2px;
  }

  .prices-form {
    max-width: 18.875rem;
  }

  .prices-checkmark {
    top: 19px;
    left: 3px;
  }

  .prices-notify-label .prices-checkmark:after {
    left: 4.5px;
    top: -4px;
  }

  .reviews-text {
    width: 35.75rem;
  }
}

@media (max-width: 1024px) {
  html {
    font-size: 13px;
  }

  .everyone-can-sing-img {
    top: 7rem;
    left: 1rem;
    width: 437px;
    height: 437px;
  }

  .test-picture {
    width: 29.875rem;
  }

  .checkmark {
    top: 17px;
    left: 4.5px;
  }

  .label-notify .checkmark:after {
    top: -3px;
    left: 4px;
  }

  .prices-form {
    max-width: 15.875rem;
  }

  .prices-checkmark {
    top: 17px;
    left: 5px;
  }
}

@media (max-width: 992px) {
  html {
    font-size: 12px;
  }

  .container {
    max-width: 60rem;
  }

  .header-wrapper {
    background-position: center left -22rem;
  }

  @-webkit-keyframes ring {
    0% {
      width: 30px;
      height: 30px;
      opacity: 1;
    }
    100% {
      width: 150px;
      height: 150px;
      opacity: 0;
    }
  }

  @keyframes ring {
    0% {
      width: 30px;
      height: 30px;
      opacity: 1;
    }
    100% {
      width: 150px;
      height: 150px;
      opacity: 0;
    }
  }

  .everyone-can-sing-wrapper {
    position: relative;
    max-width: 60rem;
    padding: 1.875rem 4.875rem 1.875rem 33.125rem;
  }

  .everyone-can-sing-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 316px;
    height: 416px;
    border-radius: 0.625rem;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center -2rem;
    object-position: center -2rem;
    z-index: 1;
    box-shadow: none;
  }

  .circle {
    display: none;
  }

  .having-completed-training {
    margin-top: 6.627rem;
  }

  .having-completed-training-wrapper {
    flex-direction: column;
  }

  .having-completed-training-learn {
    margin-top: 2rem;
    margin-left: 8rem;
    justify-content: flex-start;
  }

  .img-wrapper {
    right: 19rem;
  }

  .background-block {
    right: 14rem;
  }

  .at-the-end-of-school-content {
    top: 33rem;
    right: 50%;
    margin-right: -16.5rem;
  }

  .at-the-end-of-school-wrapper {
    height: 69rem;
  }

  .test {
    margin-top: 3rem;
  }

  .checkmark {
    top: 16px;
  }

  .label-notify .checkmark:after {
    top: -2px;
    width: 5px;
    height: 11px;
  }

  .courses-wrapper {
    flex-direction: column;
  }

  .course-card {
    width: 30rem;
    height: 30rem;
  }

  .course-card:not(:last-child) {
    margin-bottom: 4.5rem;
  }

  .front-card {
    flex-direction: column;
  }

  .card-title {
    display: none;
    margin-bottom: 0.8438rem;
    font-size: 1.5rem;
  }

  .for-mobile {
    display: flex;
  }

  .card-text {
    padding: 0.875rem;
    color: #fc00fc;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0.2rem 0.2rem 1rem #fc00fc;
  }

  .card-button {
    color: #ffffff;
    border: 0.0813rem solid #fc00fc;
    background: #fc00fc;
    box-shadow: 12px 12px 24px #fc00fc;
  }

  .prices-checkmark {
    top: 15.4px;
    left: 5px;
  }

  .prices-notify-label .prices-checkmark:after {
    top: -2px;
    left: 4px;
    width: 5px;
    height: 13px;
  }

  .teachers-picture {
    width: 13rem;
    height: 13rem;
  }

  .fifth-teacher {
    -o-object-position: -29px 0;
    object-position: -29px 0;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 40rem;
  }

  .social-list {
    display: none;
  }

  .header-wrapper {
    background-position: center left -3rem;
  }

  .header-title {
    font-size: 2rem;
  }

  .header-content {
    padding-left: 10.5rem;
  }

  .everyone-can-sing-wrapper {
    position: relative;
    top: 39rem;
    max-width: 60rem;
    padding: 1.875rem 4.875rem 1.875rem 6.125rem;
    background-color: rgba(255, 250, 250, 0.52);
  }

  .everyone-can-sing-img {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -158px;
    width: 316px;
    height: 416px;
    border-radius: 0.625rem;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center -2rem;
    object-position: center -2rem;
    z-index: 1;
    box-shadow: none;
  }

  .having-completed-training {
    margin-top: 44.627rem;
  }

  .having-completed-training-content {
    width: 40rem;
  }

  .having-completed-training-learn {
    flex-direction: column;
    margin-left: 0;
  }

  .having-completed-training-wrapper {
    align-items: center;
  }

  .img-wrapper {
    top: -3rem;
    right: 7.9375rem;
  }

  .background-block {
    top: 1rem;
    right: 2.9375rem;
  }

  .at-the-end-of-school-content {
    margin-right: -18rem;
  }

  .test-picture {
    width: 22.75rem;
    border-radius: 0.625rem 0.625rem 0 0;
  }

  .test-wrapper {
    flex-direction: column-reverse;
    max-width: 22.75rem;
  }

  .course-card {
    width: 25rem;
    height: 25rem;
  }

  .prices-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .prices-info {
    margin-right: 0;
  }

  .prices-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 20.8rem;
  }

  .prices-form-title {
    text-align: center;
    margin-top: 1.875rem;
  }

  .prices-checkmark {
    width: 1.4rem;
    height: 1.4rem;
  }

  .prices-notify-label .prices-checkmark:after {
    left: 4px;
    height: 12px;
  }

  .prices-info-title {
    text-align: center;
  }

  .prices-info-text {
    text-align: center;
  }

  .teachers-picture {
    width: 12rem;
    height: 12rem;
  }

  .teacher-arrow-next-icon,
  .teacher-arrow-prev-icon {
    width: 2rem;
    height: 2rem;
  }

  .slider-button-prev,
  .slider-button-next {
    width: 2rem;
    height: 2rem;
  }

  .slider-button-next::before,
  .slider-button-prev::before {
    display: none;
  }

  #reviews-swiper {
    width: 270px;
  }

  .review {
    width: 270px !important;
  }

  .video-reviews {
    width: 210px;
    height: 210px;
  }

  .text-review {
    margin-top: 0;
    font-size: 0.9rem;
  }

  .footer-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .footer-logo,
  .footer-list-link,
  .footer-list-contacts {
    margin-bottom: 4rem;
  }

  .footer-list-links,
  .footer-list-contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-social-list {
    display: flex;
  }

  .footer-list-item-link,
  .footer-list-item-text {
    text-align: center;
  }
}

@media (max-width: 486px) {
  .mobile-menu-toggle {
    width: 2.6rem;
    height: 100%;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #fc00fc;
  }

  #seventh-item,
  #second-item,
  #third-item,
  #fourth-item,
  #fifth-item,
  #sixth-item,
  #eighth-item {
    display: none;
  }

  .mobile-logo-icon {
    display: block;
    width: 100px;
    height: 12px;
  }

  .container {
    position: relative;
    max-width: 30rem;
  }

  .mobile-social-list {
    display: block;
  }

  .mobile-menu {
    position: absolute;
    right: 0;
    top: 5.4rem;
    width: 13.75rem;
    padding: 0.5rem;
    background-color: rgb(244, 230, 242);
    border-radius: 0.625rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    z-index: 1;
  }

  .mobile-menu-list {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 1rem;
    list-style: none;
    opacity: 0;
    transition: 1s;
    -webkit-animation: show 3s 1;
    animation: show 3s 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
  }

  @-webkit-keyframes show {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes show {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  #menu-seporator {
    border-top: 1px solid rgba(252, 0, 252, 0.2);
    padding-top: 1rem;
  }

  .mobile-menu-list-item:not(:last-child) {
    margin-bottom: 0.6rem;
  }

  .mobile-menu-link {
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.25rem;
    color: #fc00fc;
    text-decoration: none;
  }

  .mobile-social-list {
    display: flex;
    list-style: none;
    padding-left: 0;
  }

  .is-open {
    display: block;
    -webkit-animation: example 1s ease-in-out;
    animation: example 1s ease-in-out;
  }

  @-webkit-keyframes example {
    0% {
      transform: translateY(-20px);
      height: 10%;
    }
    100% {
      transform: translateY(0);
      height: 100%;
    }
  }

  @keyframes example {
    0% {
      transform: translateY(-20px);
      height: 10%;
    }
    100% {
      transform: translateY(0);
      height: 100%;
    }
  }

  .header-content {
    max-width: 25.25rem;
    padding-left: 6.5rem;
  }

  @-webkit-keyframes ring {
    0% {
      width: 30px;
      height: 30px;
      opacity: 1;
    }
    100% {
      width: 120px;
      height: 120px;
      opacity: 0;
    }
  }

  @keyframes ring {
    0% {
      width: 30px;
      height: 30px;
      opacity: 1;
    }
    100% {
      width: 120px;
      height: 120px;
      opacity: 0;
    }
  }

  .header-text-2,
  .header-text {
    font-size: 1rem;
  }

  .header-button {
    padding: 0.9375rem 2rem;
  }

  .everyone-can-sing-wrapper {
    position: relative;
    top: 39rem;
    max-width: 60rem;
    padding: 1.875rem 4.875rem 1.875rem 6.125rem;
    background-color: rgba(255, 250, 250, 0.72);
  }

  .everyone-can-sing-img {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -180px;
    width: 360px;
    height: 416px;
    border-radius: 0.625rem;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center -2rem;
    object-position: center -2rem;
    z-index: 1;
    box-shadow: none;
  }

  .everyone-can-sing-title {
    font-size: 1.3rem;
  }

  .everyone-can-sing-text {
    font-size: 1rem;
  }

  .learn-text {
    font-size: 1rem;
  }

  .having-completed-training-content {
    width: 30rem;
  }

  .img-wrapper {
    right: 1.938rem;
    width: 28.188rem;
  }

  .background-block {
    right: 0;
    width: 28.188rem;
  }

  .at-the-end-of-school-content {
    max-width: 30rem;
    right: 0;
    margin-right: 0;
    padding: 1.875rem 1.075rem 1.875rem 1.075rem;
  }

  .at-the-end-of-school-text {
    font-size: 1rem;
  }

  .at-the-end-of-school-title {
    font-size: 1.0875rem;
  }

  .test-title {
    font-size: 1.0875rem;
  }

  .button-test {
    margin-top: 1.3rem;
  }

  .test-picture {
    height: 26.125rem;
  }

  .at-the-end-of-school-wrapper {
    height: 67rem;
  }

  .answers-item {
    display: flex;
  }

  .test-modal-dialog,
  .modal-dialog {
    width: 23rem;
  }

  .checkmark {
    top: 16px;
    left: 4px;
    width: 1.3rem;
    height: 1.3rem;
  }

  .label-notify .checkmark:after {
    left: 3px;
    top: -2px;
  }

  .courses-title {
    font-size: 1.0875rem;
  }

  .card-title {
    font-size: 1.2rem;
  }

  .card-text {
    font-size: 1.1rem;
  }

  .prices-info-title {
    font-size: 1.0875rem;
  }

  .prices-info-text {
    font-size: 1rem;
  }

  .prices-form-title {
    font-size: 1rem;
  }

  .teachers-title {
    font-size: 1.0875rem;
  }

  .teachers-name {
    font-size: 1.3rem;
  }

  .teachers-text {
    font-size: 1rem;
  }

  #reviews-swiper {
    width: 270px;
    overflow: hidden !important;
    border-radius: 10px;
  }

  .review {
    width: 270px !important;
    align-items: center;
  }

  .wrapper-review {
    align-self: flex-start;
  }

  .video-reviews {
    width: 210px;
    margin-bottom: 2.5rem;
  }

  .reviews-text {
    width: 28.75rem;
  }

  .reviews-title {
    font-size: 1.0875rem;
  }

  .wrapper-review-logo {
    width: 52px;
    height: 52px;
  }

  .title-review {
    font-size: 1.1rem;
  }

  .text-review {
    font-size: 0.9rem;
  }

  .reviews-text {
    font-size: 1rem;
    width: 24.75rem;
  }

  .text-review {
    margin-bottom: 2.5rem;
  }

  .swiper-pagination {
    display: none;
  }

  .slider-button-review-prev,
  .slider-button-review-next {
    display: block;
    width: 2rem;
    height: 2rem;
    z-index: 1;
  }

  .slider-buttons-review {
    position: absolute;
    top: 95%;
    transform: translateY(-95%);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 1;
  }

  .review-arrow-prev-icon,
  .review-arrow-next-icon {
    width: 2rem;
    height: 2rem;
  }

  .footer-logo-text {
    font-size: 1.1rem;
  }

  .footer-list-item-link {
    font-size: 1rem;
  }
}

@media (max-width: 375px) {
  .container {
    max-width: 25rem;
  }

  .header-content {
    max-width: 23.25rem;
    padding-left: 4.5rem;
  }

  .everyone-can-sing-wrapper {
    position: relative;
    top: 39rem;
    max-width: 60rem;
    padding: 1.875rem 2.875rem 1.875rem 4.125rem;
    background-color: rgba(255, 250, 250, 0.72);
  }

  .everyone-can-sing-img {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -150px;
    width: 300px;
    height: 416px;
    border-radius: 0.625rem;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center -2rem;
    object-position: center -2rem;
    z-index: 1;
    box-shadow: none;
  }

  .everyone-can-sing-title {
    font-size: 1.3rem;
  }

  .everyone-can-sing-text {
    font-size: 1rem;
  }

  .having-completed-training-content {
    width: 25rem;
  }

  .img-wrapper {
    right: 1.938rem;
    width: 23.188rem;
  }

  .at-the-end-of-school-img {
    -o-object-position: top -7rem left -4rem;
    object-position: top -7rem left -4rem;
  }

  .background-block {
    right: 0;
    width: 23.188rem;
  }

  .at-the-end-of-school-content {
    max-width: 25rem;
    right: 0;
    margin-right: 0;
    padding: 1.875rem 2.075rem 1.875rem 2.075rem;
  }

  .at-the-end-of-school-text {
    font-size: 1rem;
  }

  .at-the-end-of-school-title {
    font-size: 1rem;
  }

  .at-the-end-of-school-button {
    top: 25rem;
  }

  .test {
    margin-top: 6rem;
  }

  .test-title {
    font-size: 1rem;
  }

  .courses-title {
    font-size: 1rem;
  }

  .card-title {
    font-size: 1.1rem;
  }

  .card-text {
    font-size: 1rem;
  }

  .teachers-picture {
    width: 11rem;
    height: 11rem;
  }

  .teachers-name {
    width: 15rem;
  }

  #reviews-swiper {
    width: 270px;
    /* overflow: hidden !important; */
    border-radius: 10px;
  }

  .review {
    width: 270px !important;
  }

  .wrapper-review-logo {
    width: 42px;
    height: 42px;
  }

  .video-reviews {
    width: 130px;
  }

  .reviews-text {
    font-size: 1rem;
    width: 21.75rem;
  }
}
