* {
  box-sizing: border-box;
}

body {
  background-image: url("../img/bg-6.jpg");
  background-repeat: repeat-y;
  background-size: cover;
  font-family: "Jost", sans-serif;
}

.container {
  max-width: 70rem;
  margin: auto;
}

.logo-icon {
  width: 4.375rem;
  height: 4.5rem;
}

.navbar-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0;
  list-style: none;
}

.vk-icon,
.tg-icon,
.inst-icon {
  width: 1.25rem;
  height: 1.25rem;
}

.social-list {
  display: flex;
  align-items: center;
  list-style: none;
}

.social-list-item:not(:last-child) {
  margin-right: 20px;
}

.navbar-list {
  border-bottom: 1px solid rgba(252, 0, 252, 0.2);
}

.navbar-list-item {
  padding: 0.5rem;
}

.navbar-list-item-link {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;

  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.75rem;
  color: #fc00fc;
  text-decoration: none;
}

.mobile-menu-toggle {
  display: none;
}

.mobile-menu-line {
  height: 0.2rem;
  width: 100%;
  background-color: #fc00fc;
  border-radius: 10px;
}

.mobile-menu-line:not(:last-child) {
  margin-bottom: 0.2188rem;
}

.close-icon {
  display: none;
  width: 100%;
  height: 1rem;
}

.mobile-logo-icon {
  display: none;
}

.mobile-menu {
  display: none;
}

.is-open {
  display: none;
}

.header {
  margin-top: 4rem;
}

.header-wrapper {
  width: 100%;
  background-image: url("../img/main.webp");
  background-repeat: no-repeat;
  background-position: center left -14rem;
  background-size: cover;
  border-radius: 0.625rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.no-webp .header-wrapper {
  background-image: url("../img/main.jpg");
}

.header-content {
  max-width: 31.25rem;
  padding-top: 3.75rem;
  padding-left: 7.5rem;
  padding-bottom: 3.75rem;
}

.header-title {
  margin-bottom: 1rem;
  font-style: normal;
  font-weight: 600;
  font-size: 2.1875rem;
  line-height: 3.1875rem;
  text-transform: uppercase;
  color: #faf472;
}

.header-text {
  margin-bottom: 1rem;
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.8125rem;
  color: #faf472;
}

.header-text-2 {
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.8125rem;
  color: #faf472;
}

.header-info {
  display: flex;
  align-items: center;
}

.micro-icon {
  flex-shrink: 0;
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 1rem;
}

.header-button-wrap {
  height: 100%;
  display: flex;
  align-items: center;
}

.header-button {
  position: relative;
  margin-top: 1.125rem;
  min-width: 9.9375rem;
  padding: 0.9375rem 2.5313rem;

  background: #faf472;
  border: 0.0813rem solid #faf472;
  border-radius: 6.25rem;
  box-shadow: 12px 12px 24px #faf472;
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;

  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.4375rem;
  color: #681173;
}

.header-button::before {
  content: "";
  border-radius: 6.25rem;
  min-width: 3.938rem;
  padding: 2rem 3.3rem;
  border: 0.275rem solid #faf472;
  box-shadow: 0 0 60px #faf472;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.3s ease-in-out 0s;
}

.header-button::after {
  content: "";
  width: 1.875rem;
  height: 1.875rem;
  border-radius: 100%;
  border: 0.375rem solid #faf472;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-animation: ring 1.5s infinite;
  animation: ring 1.5s infinite;
}

@-webkit-keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 200px;
    height: 200px;
    opacity: 0;
  }
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 200px;
    height: 200px;
    opacity: 0;
  }
}

.everyone-can-sing {
  margin-top: 6rem;
}

.everyone-can-sing-container {
  position: relative;
}

.everyone-can-sing-wrapper {
  position: absolute;
  right: 0;
  max-width: 55.625rem;
  padding: 1.875rem 1.875rem 1.875rem 23.125rem;
  background-color: rgba(255, 250, 250, 0.32);
  border-radius: 0.625rem;
  box-shadow: 0.2rem 0.2rem 1rem #ec7804;
}

.everyone-can-sing-content {
  max-width: 30.625rem;
}

.everyone-can-sing-title {
  font-style: normal;
  font-weight: 600;
  font-size: 1.5875rem;
  line-height: 3.1875rem;
  text-transform: uppercase;
  color: #ec7804;
}

.everyone-can-sing-text {
  margin-bottom: 2rem;
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.625rem;
  color: #3d3935;
}

.everyone-can-sing-button {
  min-width: 9.9375rem;
  padding: 0.9375rem 2.5313rem;

  background: #ffffff;
  border: 2px solid #ec7804;
  cursor: pointer;
  outline: none;

  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.4375rem;
  color: #ec7804;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

.everyone-can-sing-img {
  position: absolute;
  top: 7rem;
  left: 3rem;
  width: 507px;
  height: 507px;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center -2rem;
  object-position: center -2rem;
  z-index: 1;
  box-shadow: 0.2rem 0.2rem 1rem #ec7804;
  transition: transform 0.8s ease-in-out;
}

.circle {
  position: absolute;
  top: 31rem;
  left: 23rem;
  width: 10rem;
  height: 10rem;
  background-color: rgba(255, 250, 250, 0.7);
  border-radius: 50%;
  box-shadow: 0.2rem 0.2rem 1rem #ec7804;
  z-index: 2;
}

.having-completed-training {
  margin-top: 52.627rem;
}

.having-completed-training-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.having-completed-training-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 54rem;
}

.having-completed-training-title {
  flex-shrink: 0;
  margin-bottom: 2rem;
  padding: 1.2rem 2.2rem;
  font-style: normal;
  font-weight: 600;
  font-size: 1.0875rem;
  line-height: 3.1875rem;
  text-transform: uppercase;
  color: #71ad19;
  background-color: rgba(255, 250, 250, 0.9);
  border-radius: 2.5rem;
  border: 1px solid #71ad19;
  box-shadow: 0.2rem 0.2rem 1rem #71ad19;
}

.rotate-block {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.change-img {
  position: relative;
  perspective: 1000px;
  width: 17.8125rem;
  height: 25.4375rem;
  border-radius: 2.5rem;
  border: 1px solid #71ad19;
  box-shadow: 0.2rem 0.2rem 1rem #71ad19;
}

.having-completed-training-img,
.having-completed-training-img-back-side {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;

  width: 17.8125rem;
  height: 25.4375rem;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 2.5rem;
  border: 1px solid #71ad19;
}

.having-completed-training-img picture {
  max-width: 100%;
  min-width: 100%;
  height: auto;
}

.having-completed-training-img-back-side picture {
  max-width: 100%;
  min-width: 100%;
  height: auto;
  transform: scaleX(-1); /* Отражаем изображение по горизонтали */
}

.having-completed-training-img-back-side {
  transform: rotateY(180deg);
}

.having-completed-training-learn {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-left: 0.3rem;
}

.learn-text {
  max-width: 19.75rem;
  padding: 1.875rem;

  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.625rem;

  color: #71ad19;
  background-color: rgba(255, 250, 250, 0.9);
  border-radius: 2.5rem;
  border: 1px solid #71ad19;
  box-shadow: 0.2rem 0.2rem 1rem #71ad19;
}

.learn-text:not(:nth-child(2n)) {
  margin-right: 2rem;
}

.at-the-end-of-school {
  margin-top: 6rem;
}

.at-the-end-of-school-container {
  position: relative;
}

.at-the-end-of-school-wrapper {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
}

.img-wrapper {
  position: absolute;
  right: 8rem;
  width: 32.1875rem;
  height: 26.375rem;
  border-radius: 0.625rem;
  box-shadow: 0.2rem 0.2rem 1rem #fc00fc;
  overflow: hidden;
}

.at-the-end-of-school-img {
  position: absolute;
  width: 32.1875rem;
  height: 26.375rem;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: top -7rem left 0;
  object-position: top -7rem left 0;
  border-radius: 0.625rem;
  box-shadow: 0.2rem 0.2rem 1rem #fc00fc;
  transition: 1s;
  z-index: 1;
}

.at-the-end-of-school-content {
  position: absolute;
  top: 15rem;
  right: 20rem;
  padding: 1.875rem 1.875rem 1.875rem 1.875rem;
  background-color: rgba(255, 250, 250);
  border-radius: 0.625rem;
  margin-right: 4rem;
  box-shadow: 0.2rem 0.2rem 1rem #fc00fc;
  z-index: 2;
}

.background-block {
  position: absolute;
  top: 3rem;
  right: 3rem;
  width: 32.1875rem;
  height: 26.375rem;
  border-radius: 0.625rem;
  background-color: rgb(255, 250, 250, 0.7);
  box-shadow: 0.2rem 0.2rem 1rem #fc00fc;
  z-index: 0;
}

.at-the-end-of-school-list {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 4rem;
  padding: 0;
  list-style: none;
}

.at-the-end-of-school-title {
  margin: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 1.2875rem;
  line-height: 3.1875rem;
  text-transform: uppercase;
  color: rgb(252, 0, 252);
}

.music-note-icon {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 1rem;
  flex-shrink: 0;
}

.at-the-end-of-school-item:not(:last-child) {
  margin-bottom: 0.625rem;
}

.at-the-end-of-school-text {
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.625rem;
  color: #3d3935;
}

.at-the-end-of-school-button {
  position: absolute;
  top: 18.5rem;
  min-width: 9.9375rem;
  padding: 0.9375rem 2.5313rem;
  cursor: pointer;
  outline: none;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.4375rem;
  color: #ffffff;
  box-shadow: 0.2rem 0.2rem 1rem #fc00fc;
  background-color: #fc00fc;
  border: 0.0625rem solid #fc00fc;
  border-radius: 6.25rem;
  transition: all 0.2s;
}

.at-the-end-of-school-button:active {
  transform: translateY(-1px);
  box-shadow: 0.2rem 0.2rem 1rem #fc00fc;
  /*box-shadow: 0 5px 10px rgba(252, 0, 252, 0.5);*/
}

.at-the-end-of-school-button::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
  background-color: #fc00fc;
}

.test {
  margin-top: 44rem;
}

.test-picture {
  display: flex;
  width: 25rem;
  height: 28.125rem;
  border-radius: 0.625rem 0 0 0.625rem;
  object-fit: cover;
}

.test-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row-reverse;
  margin: auto;
  max-width: 800px;

  background-color: rgba(255, 250, 250, 0.8);
  border-radius: 0.625rem;
  box-shadow: 0.2rem 0.2rem 1rem #ec7804;
}

.test-content {
  width: 22.75rem;
  margin-left: 1.125rem;
  padding: 1.875rem 1.875rem 1.875rem 1.875rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.test-title {
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 1.2875rem;
  line-height: 3.1875rem;
  text-transform: uppercase;
  color: #ec7804;
}

.button-test {
  position: relative;
  margin-top: 2rem;
  width: 65%;
  padding: 0.9375rem 2.5313rem;
  background: #ffffff;
  border: 2px solid #ec7804;
  cursor: pointer;
  outline: none;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.4375rem;
  color: #ec7804;
  overflow: hidden;
  transition: 1s all ease;
}

.button-test::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 65%;
  height: 0%;
  transform: translate(-50%, -50%);
  z-index: -1;
  transition: all 0.6s ease;
  background-color: #ec7804;
}

@media (min-width: 992px) {
  .navbar-list-item-link:hover {
    color: #681173;
  }

  #seventh-item:hover,
  #second-item:hover,
  #third-item:hover,
  #fourth-item:hover,
  #fifth-item:hover,
  #sixth-item:hover,
  #eighth-item:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 6.25rem;
    box-shadow: 0.1rem 0.1rem 0.2rem 0.1rem #681173;
  }

  .header-button:hover,
  .header-button:focus {
    color: #313133;
    transform: translateY(-6px);
  }

  .header-button:hover::before,
  .header-button:focus::before {
    opacity: 1;
  }

  .header-button:hover::after,
  .header-button:focus::after {
    -webkit-animation: none;
    animation: none;
    display: none;
  }

  .everyone-can-sing-button:hover {
    color: #ffffff;
    box-shadow: 0 0 40px 40px #ec7804 inset;
  }

  .everyone-can-sing-img:hover {
    transform: rotate(360deg);
  }

  .learn-text:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px #71ad19;
  }

  .having-completed-training-title:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px #71ad19;
  }

  .change-img:hover .having-completed-training-img {
    transform: rotateY(180deg);
  }
  .change-img:hover .having-completed-training-img-back-side {
    transform: rotateY(360deg);
  }

  .at-the-end-of-school-img:hover {
    transform: scale(1.2);
  }

  .at-the-end-of-school-button:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(252, 0, 252, 0.5);
  }

  .at-the-end-of-school-button:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
  }

  .button-test:hover::before {
    height: 100%;
  }
}

@media (max-width: 1280px) {
  html {
    font-size: 14px;
  }

  .everyone-can-sing-img {
    top: 7rem;
    left: 2rem;
    width: 457px;
    height: 457px;
  }
}

@media (max-width: 1024px) {
  html {
    font-size: 13px;
  }

  .everyone-can-sing-img {
    top: 7rem;
    left: 1rem;
    width: 437px;
    height: 437px;
  }
}

@media (max-width: 992px) {
  html {
    font-size: 12px;
  }

  .container {
    max-width: 60rem;
  }

  .header-wrapper {
    background-position: center left -22rem;
  }

  @-webkit-keyframes ring {
    0% {
      width: 30px;
      height: 30px;
      opacity: 1;
    }
    100% {
      width: 150px;
      height: 150px;
      opacity: 0;
    }
  }

  @keyframes ring {
    0% {
      width: 30px;
      height: 30px;
      opacity: 1;
    }
    100% {
      width: 150px;
      height: 150px;
      opacity: 0;
    }
  }

  .everyone-can-sing-wrapper {
    position: relative;
    max-width: 60rem;
    padding: 1.875rem 4.875rem 1.875rem 33.125rem;
  }

  .everyone-can-sing-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 316px;
    height: 416px;
    border-radius: 0.625rem;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center -2rem;
    object-position: center -2rem;
    z-index: 1;
    box-shadow: none;
  }

  .circle {
    display: none;
  }

  .having-completed-training {
    margin-top: 6.627rem;
  }

  .having-completed-training-wrapper {
    flex-direction: column;
  }

  .having-completed-training-learn {
    margin-top: 2rem;
    margin-left: 8rem;
    justify-content: flex-start;
  }

  .img-wrapper {
    right: 19rem;
  }

  .background-block {
    right: 14rem;
  }

  .at-the-end-of-school-content {
    top: 33rem;
    right: 50%;
    margin-right: -16.5rem;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 40rem;
  }

  .social-list {
    display: none;
  }

  .header-wrapper {
    background-position: center left -3rem;
  }

  .header-title {
    font-size: 2rem;
  }

  .header-content {
    padding-left: 10.5rem;
  }

  .everyone-can-sing-wrapper {
    position: relative;
    top: 39rem;
    max-width: 60rem;
    padding: 1.875rem 4.875rem 1.875rem 6.125rem;
    background-color: rgba(255, 250, 250, 0.52);
  }

  .everyone-can-sing-img {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -158px;
    width: 316px;
    height: 416px;
    border-radius: 0.625rem;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center -2rem;
    object-position: center -2rem;
    z-index: 1;
    box-shadow: none;
  }

  .having-completed-training {
    margin-top: 44.627rem;
  }

  .having-completed-training-content {
    width: 40rem;
  }

  .having-completed-training-learn {
    flex-direction: column;
    margin-left: 0;
  }

  .having-completed-training-wrapper {
    align-items: center;
  }

  .img-wrapper {
    top: -3rem;
    right: 7.9375rem;
  }

  .background-block {
    top: 1rem;
    right: 2.9375rem;
  }

  .at-the-end-of-school-content {
    margin-right: -18rem;
  }
}

@media (max-width: 486px) {
  .mobile-menu-toggle {
    width: 2.6rem;
    height: 100%;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #fc00fc;
  }

  #seventh-item,
  #second-item,
  #third-item,
  #fourth-item,
  #fifth-item,
  #sixth-item,
  #eighth-item {
    display: none;
  }

  .mobile-logo-icon {
    display: block;
    width: 100px;
    height: 12px;
  }

  .container {
    position: relative;
    max-width: 30rem;
  }

  .mobile-social-list {
    display: block;
  }

  .mobile-menu {
    position: absolute;
    right: 0;
    top: 5.4rem;
    width: 13.75rem;
    padding: 0.5rem;
    background-color: rgb(244, 230, 242);
    border-radius: 0.625rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    z-index: 1;
  }

  .mobile-menu-list {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 1rem;
    list-style: none;
    opacity: 0;
    transition: 1s;
    -webkit-animation: show 3s 1;
    animation: show 3s 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
  }

  @-webkit-keyframes show {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes show {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  #menu-seporator {
    border-top: 1px solid rgba(252, 0, 252, 0.2);
    padding-top: 1rem;
  }

  .mobile-menu-list-item:not(:last-child) {
    margin-bottom: 0.6rem;
  }

  .mobile-menu-link {
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.25rem;
    color: #fc00fc;
    text-decoration: none;
  }

  .mobile-social-list {
    display: flex;
    list-style: none;
    padding-left: 0;
  }

  .is-open {
    display: block;
    -webkit-animation: example 1s ease-in-out;
    animation: example 1s ease-in-out;
  }

  @-webkit-keyframes example {
    0% {
      transform: translateY(-20px);
      height: 10%;
    }
    100% {
      transform: translateY(0);
      height: 100%;
    }
  }

  @keyframes example {
    0% {
      transform: translateY(-20px);
      height: 10%;
    }
    100% {
      transform: translateY(0);
      height: 100%;
    }
  }

  .header-content {
    max-width: 25.25rem;
    padding-left: 6.5rem;
  }

  @-webkit-keyframes ring {
    0% {
      width: 30px;
      height: 30px;
      opacity: 1;
    }
    100% {
      width: 120px;
      height: 120px;
      opacity: 0;
    }
  }

  @keyframes ring {
    0% {
      width: 30px;
      height: 30px;
      opacity: 1;
    }
    100% {
      width: 120px;
      height: 120px;
      opacity: 0;
    }
  }

  .header-text-2,
  .header-text {
    font-size: 1rem;
  }

  .header-button {
    padding: 0.9375rem 2rem;
  }

  .everyone-can-sing-wrapper {
    position: relative;
    top: 39rem;
    max-width: 60rem;
    padding: 1.875rem 4.875rem 1.875rem 6.125rem;
    background-color: rgba(255, 250, 250, 0.72);
  }

  .everyone-can-sing-img {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -180px;
    width: 360px;
    height: 416px;
    border-radius: 0.625rem;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center -2rem;
    object-position: center -2rem;
    z-index: 1;
    box-shadow: none;
  }

  .everyone-can-sing-title {
    font-size: 1.3rem;
  }

  .everyone-can-sing-text {
    font-size: 1rem;
  }

  .learn-text {
    font-size: 1rem;
  }

  .having-completed-training-content {
    width: 30rem;
  }

  .img-wrapper {
    right: 1.938rem;
    width: 28.188rem;
  }

  .background-block {
    right: 0;
    width: 28.188rem;
  }

  .at-the-end-of-school-content {
    max-width: 30rem;
    right: 0;
    margin-right: 0;
    padding: 1.875rem 1.075rem 1.875rem 1.075rem;
  }

  .at-the-end-of-school-text {
    font-size: 1rem;
  }

  .at-the-end-of-school-title {
    font-size: 1.0875rem;
  }
}

@media (max-width: 375px) {
  .container {
    max-width: 25rem;
  }

  .header-content {
    max-width: 23.25rem;
    padding-left: 4.5rem;
  }

  .everyone-can-sing-wrapper {
    position: relative;
    top: 39rem;
    max-width: 60rem;
    padding: 1.875rem 2.875rem 1.875rem 4.125rem;
    background-color: rgba(255, 250, 250, 0.72);
  }

  .everyone-can-sing-img {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -150px;
    width: 300px;
    height: 416px;
    border-radius: 0.625rem;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center -2rem;
    object-position: center -2rem;
    z-index: 1;
    box-shadow: none;
  }

  .everyone-can-sing-title {
    font-size: 1.3rem;
  }

  .everyone-can-sing-text {
    font-size: 1rem;
  }

  .having-completed-training-content {
    width: 25rem;
  }

  .img-wrapper {
    right: 1.938rem;
    width: 23.188rem;
  }

  .at-the-end-of-school-img {
    -o-object-position: top -7rem left -4rem;
    object-position: top -7rem left -4rem;
  }

  .background-block {
    right: 0;
    width: 23.188rem;
  }

  .at-the-end-of-school-content {
    max-width: 25rem;
    right: 0;
    margin-right: 0;
    padding: 1.875rem 2.075rem 1.875rem 2.075rem;
  }

  .at-the-end-of-school-text {
    font-size: 1rem;
  }

  .at-the-end-of-school-title {
    font-size: 1rem;
  }

  .at-the-end-of-school-button {
    top: 23.5rem;
  }
}
